.hamburger-btn {
    position: fixed;
    background-color: black;
    border-radius: 7px;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.hamburger-icon {
    width: 50px;
    height: 50px;
}

.hamburger-middle, .hamburger-middle::before, .hamburger-middle::after {
    position: absolute;
    background-color: white;
    width: 40px;
    height: 4px;
    left: 5px;
    top: 23px;
    transition: all 500ms ease-in-out;
}
.hamburger-middle::before {
    display: block; 
    content: "";
    top: -12px;
    left: 0;
}
.hamburger-middle::after {
    display: block; 
    content: "";
    top: 12px;
    left: 0;
}
.hamburger-btn.open .hamburger-middle {
    transform: translateX(-50px);
    background-color: transparent;
}
.hamburger-btn.open .hamburger-middle::before {
    transform: translate(50px, 12px) rotate(45deg);
}
.hamburger-btn.open .hamburger-middle::after {
    transform: translate(50px, -12px) rotate(-45deg);
}

.navbar {
    list-style: none;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0px;
    left: 0px;
    background-color: black;
    transition: all 500ms ease-in-out;
}
.navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 576px;
    flex-grow: 1;
    flex-shrink: 1;
    text-decoration: none;
    color: white;
    height: auto;
}
.navbar-link {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    height: 40px;
    width: 100%;
    transition: all 350ms ease-in-out 150ms, transform 0ms 200ms;
}
.navbar-item hr{
    bottom: 0px;
    height: 0px;
    width: 0;
    color: black;
}
.navbar-item:hover hr {
    color: white;
    width: 100px;
    transition: width 300ms ease-in-out, color 0ms;
}
.navbar-spacer-left {
    display: none;
    width: 80px;
}
.navbar-spacer-bottom {
    height: 60px;
    width: 100%;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .hamburger-btn {
        display: none;
    }
    .navbar-spacer-bottom {
        display: none;
    }
    .navbar-item {
        flex-basis: 120px;
        flex-grow: 0;
    }
    .navbar {
        height: 70px;
        max-height: 70px;
        top: 0;
        bottom: auto;
        justify-content: end;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}